@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #030a0f;
    --card: #ffffff;
    --card-foreground: #030a0f;
    --popover: #ffffff;
    --popover-foreground: #030a0f;
    --primary: #0a1a28;
    --primary-foreground: #f2f2f2;
    --secondary: #f5f5f5;
    --secondary-foreground: #0a1a28;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #f5f5f5;
    --accent-foreground: #0a1a28;
    --destructive: #823535;
    --destructive-foreground: #f2f2f2;
    --border: #e6e6e6;
    --input: #e6e6e6;
    --ring: #0a1a28;
    --radius: 0.5rem;
  }
}
